# scripts de bash pasados a playbook
---
- name: Playbook para instalar la pila LAMP
  hosts: frontend
  become: yes

  tasks:

    - name: Actualizar los repositorios
      apt:
        update_cache: yes
      # apt update
  
    - name: Actualizar paquetes instalados
      apt:
        upgrade: dist
      # apt upgrade -y

    - name: Instalaci贸n del servidor web Apache
      apt:
        name: apache2
        state: present
      # apt install apache2 -y
    
    - name: Instalaci贸n de PHP y los m贸dulos necesarios
      apt:
        name:
          - php
          - php-mysql
          - libapache2-mod-php
        state: present
      # apt install php libapache2-mod-php php-mysql -y
    
    - name: Copia del archivo de configuraci贸n de Apache
      copy:
        src: ../conf/000-default.conf 
        dest: /etc/apache2/sites-available/000-default.conf
        # remote_src: yes
      # cp ../conf/000-default.conf /etc/apache2/sites-available/000-default.conf

    - name: Reinicio del servicio Apache
      service:
        name: apache2
        state: restarted
      # systemctl restart apache2
    