# scripts de bash pasados a playbook
---
- name: Playbook para instalar la pila LAMP
  hosts: aws
  become: yes

  tasks:

    - name: Actualizar los repositorios
      apt:
        update_cache: yes
      # apt update
  
    - name: Actualizar paquetes instalados
      apt:
        upgrade: dist
      # apt upgrade -y

    - name: Instalación del servidor web Apache
      apt:
        name: apache2
        state: present
      # apt install apache2 -y

    - name: Instalación del gestor de BD
      apt:
        name: mysql-server
        state: present
      # apt install mysql-server -y
    
    - name: Instalación de PHP y los módulos necesarios
      apt:
        name:
          - php
          - php-mysql
          - libapache2-mod-php
        state: present
      # apt install php libapache2-mod-php php-mysql -y
    
    # ¿El reinicio es necesario?